body{
    background-color: bisque;
}

#trsnsform-layout{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#titulo{
    color: red;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
#frase{
    font-weight: bold;
}
